* {
  padding: 5px;
}

@font-face {
  font-family: 'starwars';
  src: url('Starwars.ttf') format('truetype');
}
.container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.header-img {
  border:2px solid green;
  border-radius: 5%;
  box-shadow: 10px 10px 10px green;
}

.header-img img {
  border-radius: 5%;
}

.box-header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  margin: 40px;
  border: 6px dashed black;
  border-radius: 8px;
  background-color: beige;
  text-align: center;
}

.box-label {
  position: absolute;
  font-size: 2em;
  background-color: beige;
  top: -24px;
  left: 20px;
  padding: 0 8px;
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'starwars', STARWARS;
}

.header-box{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.img-header img {
 border: 20px solid black;
}

.box-header h1 {
  font-size: 4em;
  text-shadow: 3px 3px 2px yellow;
}

body {
    margin: 0;
    background-color: beige;
    background-image: url(fondo.jpg);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;

  }

.title {
    text-align: center;
    margin-bottom: 1.2em;
}

.title-div{
    border:8px dashed rgb(7, 7, 7);
    border-radius: 10%;
    margin-bottom: 1em;
}

.title-div h1 {
    font-size: 3em;
    color: black;
    text-shadow:2px 2px darkred;
    font-weight: bold;
}
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .text {
    font-size: 115%;
    font-family: Tahoma;
    gap: 1.5em;
  }
  

  .text img {
    max-width: 20%;
    float: right;
    border-radius: 10px;
    border: 4px double #008000;
    box-shadow: -10px 10px 10px green;
  }

  .text p {
    text-align: justify;
    text-indent: 2em;
  }

  .div-reparto {
    display: flex;
    width: 80%;
    gap: 50px;
    align-items: center;
    justify-content: center;
    list-style-image: url(icono.png);
    border:4px dashed blue;
    text-align: center;
  }

  /* .div-reparto{
    display: flex;
  } */

  .div-reparto-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .titulo {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 4px double blue;
    border-radius: 10px;
    font-size: 2em;
    padding: 20px;
  }

  .titulo h1 {
    text-shadow: 2px 2px 4px blue;
  }